.gray{
    background-color: rgb(201, 201, 201);
}
.dblue{
    background-color: rgb(0, 104, 223);
}
.alink{
    color: rgb(255, 255, 255) !important;
}
.afooter{
    font-size: 10px;
}
@media (max-width: 767px) {
    .custom-height {
        height: 30vh;
    }
}

@media (min-width: 768px) {
    .custom-height {
        height: 80vh; 
    }
}

.c-text-group{
    width: 100%;
}